/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
.floatRight {
  float:right !important;
  padding: 20px !important;
}
#createPollForm {
  width: 700px;
  margin: auto;
}
#createPollForm .title, #createPollForm .description, #createPollForm .options {
  width: 100%;
  padding: 10px;
  border-radius: 20px;

  margin: 4px;
  border: 1px solid rgb(169, 169, 169);
}
sub {
  color: rgb(169, 169, 169);
}
.headerBar {
  margin-bottom: 8px;
  height: 36px;
  width: 100%;
  background-color: #9cd5ff;
}
#createPollForm .description {
}
#createPollForm .options {
}
/****** Nav Styling ******/
nav {
  min-width: 850px;
}
#cssmenu {
  background: #9cd5ff;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
	
	vertical-align: baseline;
  display: inline-block;
  padding: 0;
  margin: 0;
  
    margin-right: 2px;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
	height:22px;
	fill: black;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 21px 25px 13px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a div{
	height:48px;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover > div > svg {
	fill: black;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
.octicon, #twitterIcon {
	fill: white;
	position: relative;
    top: -8px;
    left: -8px;
	vertical-align: top;
	-webkit-transition: fill .25s;
	-moz-transition: fill .25s;
	-ms-transition: fill .25s;
	-o-transition: fill .25s;
	transition: fill .25s;
}
/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

.pollInfo h1 {
    background-color: #9cd5ff;
    font-family: sans-serif;
    margin-bottom: 20px;
}
h1 {
	margin-bottom: 0;
    text-shadow: 0px 1px 1px #cdeaff;
    text-align: center;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
p {
	margin: 8px 0 0 0;
}
select, button {
    border-radius: 30px;
    margin: auto;
    display: block;
    font-size: 20px;
    padding: 7px;
}
#shareButton {
    display: inline-block;
}
.container {
	font-family: 'Barlow', sans-serif;
    min-width: 850px;
    color: #333333;
}


input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label::before {
    background-color: #55b1f5;
    margin-right: 14px;
    border: 3px solid #6cb6ec;
}
input[type="radio"]:checked + label {
    background-color: #f3faff;
    border-radius: 20px;
}
input[type="radio"] + label:hover {
    background-color: #f3faff;
    border-radius: 20px;
}
label {
	display: flex;
	align-items: center;
    padding: 4px;
    font-size: 16pt;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}
.addOption:hover {
    background-color: #9cd5ff;
}
button.addOption:active {
    top: 1px;
    position: relative;
}
.twitter-share-button {
  float: left;
  margin: 8px;
  margin-right: -60px;
}
.pollDescription p {
  font-size: 22pt;
  letter-spacing: -2px;
}
input[type="submit"]:active {
    border-style: inset;
    background-color: #77c5ff;
}
input[type="submit"]:hover {
    background-color: #77c5ff;
}
input[type="submit"] {
    margin: auto;
    width: 82%;
    display: block;
    border-radius: 29px;
    border: 2px;
    padding: 6px;
    background-color: #9cd5ff;
    font-size: 16pt;
    text-shadow: 1px 1px 1px #0e446c;
    margin-top: 20px;
    cursor: pointer;
}
.addOption {
  margin: 0;
  background-color: #d6ebfa;
  border: none;
  padding-right: 18px;
  cursor: pointer;
}
.addOption span {
  margin-right: 14px;
  padding: 3px;
}

label::before {
	display: block;
	height: 1.125rem;
	width: 1.125rem;
	margin-right: 0.625rem;
	content: "";
	border: 3px solid #9cd5ff;
	border-radius: 50%;
	transition: all 0.25s linear;
}


.container p {
	text-align: center;
	padding: 0;
    padding-bottom: 20px;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	margin: 20px auto 20px auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

.pollHeader {
    background-color: #D0ECFF;
    font-family: sans-serif;
    padding-top: 6px;
}

.polls, .pollInfo {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #9cd5ff;
    padding-bottom: 20px;
}

.title, .votes {
	display: inline-block;
}

#chartContainer, .pollDescription {
    width: 42%;
    display: inline-block;
    padding-left: 7%;
}

.title {
	width: 66%;
    padding-left: 14px;
}

.votes {
	width: 9%;
    text-align: center;
}

.poll {
    border-bottom: 1px solid #e8eee5;
    font-size: 16pt;
    padding: 2px;
    font-family: sans-serif;
    -webkit-transition: background-color .25s;
	-moz-transition: background-color .25s;
	-ms-transition: background-color .25s;
	-o-transition: background-color .25s;
	transition: background-color .25s;
}
a:nth-child(even) > .poll {
	background-color: #EEFFCD;
}
.polls > a > .poll:hover {
	background-color: #9cd5ff;
	cursor: pointer;
}
.isCreator, .isNotCreator, .hasVoted, .hasNotVoted {
	border-radius: 30px;
	width: 24px;
    height: 24px;
    top: 4px;
    position: relative;
    margin-right: 7%;
	display: inline-block;
}
.isCreator {
	fill: #47B1FC;
    position: relative;
    top: 2px;
}
.hasVoted {
    fill: #74FE8C;
    position: relative;
    top: 2px;
}
/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
	padding: 0;
	margin: -25px 0 0 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}