.polls    
  .pollHeader
    .title
      | Title
    .isCreator
      | Creator
    .hasVoted
      | Voted
    .votes
      | Votes Cast
  for poll in polls
    a
      .poll
        .title
          | #{poll.title}
        if poll.isCreator
          .isCreator
            svg(class='isCreator' viewbox='0 0 24 24')
              path(d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z')
              path(d='M0 0h24v24H0z', fill='none')

        else
          .isNotCreator
            if poll.hasVoted
              .hasVoted
                svg(class='hasVoted' viewbox='0 0 24 24')
                  path(d='M0 0h24v24H0z', fill='none')
                  path(d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z')
            else
              .hasNotVoted
              .votes
                | #{poll.votes}