

doctype html
html
  include header.pug

  body
    include nav.pug
    .container
      .titleContainer
        .login
          h1
            | Vote on all the things!
          h3
            | Click a poll to vote, or login and create your own!
      if currentPoll
        include pollData.pug
      include allPolls.pug
                