

doctype html
html
  head
    title Vote Everything!
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Barlow', rel='stylesheet')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
    script(src='https://platform.twitter.com/widgets.js', type='text/javascript')
    script.
      window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));



  body
    include nav.pug
    .container
      .titleContainer
        .login
          h1
            | Vote on all the things!
          h3
            | Click a poll to vote, or login and create your own!
      include pollData.pug
      include allPolls.pug
                
  script.
    function swapToChart(){
    	
    }
    
    function login(){
    	alert('hi');
    	fetch('/auth/github').then(function(response){
      	console.log('first')
    		return response.json();
    	}).then(function(json){
      	console.log('second')
    		console.log(json);
    	}).catch(function(err){ console.log(err)});
    }
    
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'pie',
    options: {
            legend: {
                position: 'left'
            }
        },
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }});