include header.pug
include nav.pug
h1
  | Create your own poll
br
form( action="/createNewPoll" method="post")#createPollForm
  input( type='text' name='description' placeholder='description' required).description
  br
  sub
    | *each option is separated by a new line
  br
  textarea( cols="30" rows="10" name='options' placeholder='an option\na cooler option\na wierd option\n...' required).options
  br
  input( type='submit' name='submit' value='submit')
